@charset "UTF-8";

header{
  background-color: #BD2404;
}

header div{
  position: relative;
  padding-top: 10px;
}

nav button{
  background-color: #ff832a;
}

#signOff{
  display: none;
}

#cerrarTodo{
  display: none;
  margin-right: 15px;
}

#menu1{
  background-color: #BD2404;
  margin-bottom: 15px;
  border-radius: 0px;
}

#menuPrincipal ul{
  background-color: #BD2404;
}

#menuPrincipal a{
  color: white;
}

#menuPrincipal li:hover a{
  color: #ff832a;
}

#menuPrincipal li.active a{
  color: #ff832a;
}

.liHeader{
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

#menuCategorias a{
  color: #ff832a;
}

#menuCategorias li.active a{
  background-color: #ff832a;
  color: white;
}

#main{
  min-height: calc(100vh - 200px);
}

.private{
  display: none;
}

.tienda{
  text-align: center;
  cursor: pointer;
}

.new{
  height: 45px;
  margin-bottom: 15px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.btns{
  display: flex;
}

.btns button{
  margin-left: 5px;
  margin-bottom: 5px;
}

button{
  background-color: #ff832a;
  color: white;
  height: 35px;
}

.producto{
  padding-bottom: 10px;
}

h2{
  margin-bottom: 0;
}

h3{
  background-color: #f5f5f5;
  margin: 0;
  padding: 15px;
}

.category p{
  padding: 5px 10px 5px 10px;
  border-bottom: 2px solid red;
}

.imgProducto{
  width: 250px;
  height: auto;
}

.imgTienda{
  width: 320px;
  height: 140px;
}

.divImg{
  display: flex;
  align-items: center;
  width: 320px;
  height: 184px;
}

.hideBtn{
  display: none;
}

.productInfo{
  position: relative;
}

.productInfo p{
  padding: 0 15px 0 15px;
}

.error{
  color: #ff0000;
}

.carousel{
  margin-top: 25px;
}

footer{
  height: 100px;
  background-color: #BD2404;
  color: white;
}

footer a{
  color: #ff832a;
}
