@charset "UTF-8";

header{
  background-color: #BD2404;
}

header div{
  position: relative;
  padding-top: 10px;
}

#cerrarTodo{
  display: none;
  margin-left: 15px;
}

#menu1{
  background-color: #BD2404;
  margin-bottom: 15px;
  border-radius: 0px;
  display: none;
}

#menuPrincipal a{
  color: white;
}

#menuPrincipal li:hover a{
  color: #ff832a;
}

#menuPrincipal li.active a{
  color: #ff832a;
}

#menuCategorias a{
  color: #ff832a;
}

#menuCategorias li.active a{
  background-color: #ff832a;
  color: white;
}

button{
  background-color: #ff832a;
  color: white;
}

nav button{
  background-color: #ff832a;
}

#main{
  min-height: calc(100vh - 200px);
}

.margen{
  padding: 0 15px;
}

.tienda{
  text-align: center;
  cursor: pointer;
}

.producto{
  padding-bottom: 10px;
}

h2{
  margin-bottom: 0;
}

h3{
  background-color: #f5f5f5;
  margin: 0;
  padding: 15px;
}

.imgProducto{
  width: 250px;
  height: auto;
}

.imgTienda{
  width: 320px;
  height: 140px;
}

.divImg{
  display: flex;
  align-items: center;
  width: 320px;
  height: 184px;
}

pre{
  white-space: pre-line;
}

.hideBtn{
  display: none;
}

footer{
  height: 100px;
  background-color: #BD2404;
  color: white;
}

footer a{
  color: #ff832a;
}

.category{
  margin-top: 40px;
  border-bottom: 2px solid red;
}

.productInfo p{
  padding: 0 15px 0 15px;
}

.carousel{
  margin-top: 25px;
}
